// COLORS
$main_pink: #e91d8f;
$base_white: #ffffff;
$light_blue: #f8f6ff;
$light_black: #808080;
$overlay_background: rgba(255, 255, 255, 0.6);
$light_gray: #e0e0e0;
$total_black: #000000;

// BORDERS
$main_border_radius: 5px;

// MAIN SHADOW
$main_shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
