.button {
  border: 1px solid $light_black;
  @include flexCenter;
  height: 35px;
  width: 55px;
  gap: 8px;
  cursor: pointer;
  background-color: $light_blue;
  color: $light_black;
  font-size: 14px;
  border-radius: $main_border_radius;

  &:disabled {
    cursor: default;

    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: light-dark(
      rgba(118, 118, 118, 0.3),
      rgba(195, 195, 195, 0.3)
    );
  }
}
