.filters-group {
  @include flexCenter;
  gap: 10px;

  .filter-item {
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 85px;
  }

  @media (max-width: 970px) {
    .filter-item {
      width: 60px;
    }
  }

  @media (max-width: 768px) {
    .filter-item {
      width: 100px;
    }
  }
}
